<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            width: 80%;
            height: 60%;
            background-image: url("../../Katlego_Motshegwe_WPR_252_Project_1/Katlego_Motshegwe_WPR_252_Project_1/views/back.jpg");
            background-color: rgba(9, 17, 55, 0.49);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <p>
        <img src="public/images/back.jpg" alt="pictures" />
    </p>
    <br />
    <h3>Sorry Page not found</h3>
</body>
</html>